<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/admUsuarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
 <!-- favicon temporal para evitar error de server  -->
 <link rel="icon" type="image/x-icon" href="./assets/imgs/favicon.png">
</head>
<body>
    <div id="app" class="d-flex flex-column align-items-center w-100">
        <header class="encabezado d-flex flex-row align-items-center justify-content-center">
            <img src="./assets/imgs/burguer.gif" alt="" class="imgHeader">
        </header>
        <h1 class="neon">Clientes</h1>
        <main class="d-flex flex-column justify-content-center align-items-center">
            <div class="navButtons">
                <div class="btnMenu">
                    <a href="./admin.html">Inicio</a>
                </div>
                <div class="btnMenu">
                    <a href="./admReservas.html">Reservas</a>
                </div>
                <div class="btnMenu">
                    <a href="./admMenu.html">Menu</a>
                </div>
                <div class="btnMenu">
                    
                    <a href="./admOrdenes.html">Ordenes</a>
                </div>
                <div class="btnlogOut">
                    <p class="btnLogOutText">Log Out</p>
                </div>
            </div>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th class="actions">Acciones</th>
    </tr>
  </thead>
  <tbody>  
    <tr v-for="usuario in usuarios">
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.telefono}}</td>
      <td class="actions">
        <button class="btn-edit" data-bs-toggle="modal" data-bs-target="#editarCliente" @click="pasarUsuarioModal(usuario)">Editar</button>
        <button class="btn-delete" @click="borrarUsuario(usuario.email)">Eliminar</button>

      </td>
    
    
  </tbody>
</table>

              
        </main>
        <footer class="d-flex align-items-center flex-wrap justify-content-around flex-column">
            <section>
                <ul class="media-icon flex-wrap">
                    <li class="media-li"><a href="#" class="media-a"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="media-li"><a href="#" class="media-a"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="media-li"><a href="#" class="media-a"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="media-li"><a href="#" class="media-a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li class="media-li"><a href="#" class="media-a"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                Conocenos!
            </button>
    
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Equipo de Desarrollo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>| Cohort FS041 Full Stack JAVA</p>
                            <p>| Developer Fernando Marzialetti</p>
                            <p>| Developer Matias Loiza</p>
                            <p>| Developer Joaquin Alain Fleitas</p>
                            <p>| Developer Daniel Lopez</p>
                            <p>| Developer Yasmin Ledesma</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p d-flex gap-3" style="margin: 10px;">
                <p>| &#169 Todos los derechos reservados hacia el Team de Desarrollo 'Delicatezza'</p>
                <p>| Cohort FS041 Full Stack JAVA</p>
            </div>
        </footer>

<!-- modal para editar cliente         -->

<div class="modal fade" id="editarCliente" tabindex="-1" aria-labelledby="editarCliente" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="neonEditar text-center" id="editarCliente">Editar Cliente</h1>
        <div data-bs-theme="dark">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label letraFormulario">Nombre</label>
            <input type="text" class="form-control inputFormulario" id="nombre" v-model="usuarioSeleccionado.nombre">
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label letraFormulario">Apellido</label>
            <input type="text" class="form-control inputFormulario" id="apellido" v-model="usuarioSeleccionado.apellido">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label letraFormulario">Email</label>
            <input type="email" class="form-control inputFormulario" id="email" v-model="usuarioSeleccionado.email">
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label letraFormulario">Teléfono</label>
            <input type="text" class="form-control inputFormulario" id="telefono" v-model="usuarioSeleccionado.telefono">
          </div>
          <div class="d-flex flex-row">
            <button type="button" class="btnCloseModal" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btnEditConfirm" @click="actualizarUsuario">Editar</button>
          </div>
          
        </form>
      </div>
      
    </div>
  </div>
</div>


<!-- fin del modal para editar el cliente -->

    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- VUE  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- script index -->
    <script src="./assets/scripts/admUsuario.js"></script>
    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- AOS inicializacion  -->
    <script src="https://kit.fontawesome.com/4753464142.js" crossorigin="anonymous"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>