<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Delicatezza!</title>
    <link rel="shortcut icon" href="/assets/imgs/ham-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <!-- favicon temporal para evitar error de server  -->
    <link rel="icon" type="image/x-icon" href="./assets/imgs/favicon.png">
    <!-- fechas -->
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="jquery.ui.datepicker-es.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
/*                 regional: "Es", */
                changeMonth: true,
                changeYear: true
            })

        });
    </script> -->
</head>

<body>
    <div id="app" class="d-flex flex-column  align-items-center">
        <header class=" flex-row w-100 justify-content-center">
            <!-- imagen logo  -->
            <div class="logo_img bg-5">
                <p class="logo_img animated-shadow">DELICATEZZA</p>
            </div>
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="material-symbols-outlined">
                                lunch_dining
                            </span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav gap-3">
                                <li class="nav-item button" type="button">
                                    <a class="nav-link active active-1" href="#"><i class="bi bi-house"></i> Inicio</a>
                                </li>
                                <li class="nav-item button" type="button">
                                    <a class="nav-link" href="./menu.html"><i class="bi bi-egg-fried"></i>Menu</a>
                                </li>
                                <button type="button" class="nav-item button " data-bs-toggle="modal"
                                    data-bs-target="#hacerReserva" >
                                    <a class="nav-link"><i class="bi bi-check2-circle"></i> Reserva</a>
                                </button>
                                <button type="button" class="nav-item button " data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    <a class="nav-link"><i class="bi bi-person-fill"></i>Login</a>
                                </button>
                            </ul>
                        </div>
                    </div>
                </nav>
        </header>
        <!-- NAV BAR, POR EL MOMENTO DE PRUEBA pendiente por arreglar -->
        <!-- Navbar content -->


        <!-- <div class="container-fluid justify-content-center"> -->
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="login-box" v-show="cambio == 1">
                <form @submit.prevent>
                    <div class="user-box">
                        <input v-model="email" required="" name="" type="text">
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <input v-model="password" required="" name="" type="password">
                        <label>Contraseña</label>
                    </div>
                    <a v-on:click="login" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Ingresar
                    </a>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
                <p>No tienes cuenta? <a href="#" class="a2" @click="cambiar">Click acá!</a></p>
            </div>
            <!-- register -->
            <div class="login-box" v-show="cambio == 0">
                <form @submit.prevent>
                    <div class="user-box">

                        <input v-model="firstName" required="" name="" type="text">
                        <label>Primer Nombre</label>
                    </div>
                    <div class="user-box">
                        <input v-model="lastName" required="" name="" type="text">
                        <label>Apellido</label>

                    </div>
                    <div class="user-box">
                        <input v-model="email" required="" name="" type="email">
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <input v-model="password" required="" name="" type="password">
                        <label>Contraseña</label>
                    </div>
                    <div class="user-box">
                        <input v-model="telefono" required="" name="" type="text">
                        <label>Telefono</label>
                    </div>
                    <a v-on:click="register" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Registrarse
                    </a>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
                <p> Ya tienes una cuenta? <a href="#" class="a2" @click="cambiar">Click Acá!</a></p>
            </div>
        </div>

        <!-- hacer Reserva -->
          <!-- Modal -->
          <div class="modal fade" id="hacerReserva" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Crear Reservacion</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="formu">
                        <form @submit.prevent>
                            <p>
                                Seleccione la cantidad de personas:
                            </p>
                            <p><input v-model="cantidadPersonas" id="numero" type="number" min="1" pattern="^[0-9]+"
                                    placeholder="cantidad de personas" class="inputs"></p>
                            <p>
                                Seleccione la fecha:
                            </p>
                            <p> <input v-model="fechaString"
                                 type="date" id="start" name="trip-start"
                                       value="2018-07-22"
                                       min="2023-01-04" max="2029-12-31"></p>
                                
                           
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-warning " v-on:click="hacerReserva">Enviar</button>         
                </div>
                </div>
              </div>
            </div>
          </div>

    </div>
    <!-- aca viene el multilenguaje, su implementacion sera de ultimas -->
    <!-- main, contendra todos los carrousel menos el footer  -->
    <main class="d-flex flex-column w-100 justify-content-center align-items-center">
        <!-- articulo con titulo principal de platos fuertes -->
        <h2 class=" d-flex justify-content-center h2-text" style="color: #F5C800;" data-aos="fade-right">Menu
        </h2>
        <div class="d-flex justify-content-center flex-column align-items-center text-info" data-aos="flip-up">
            <h5 class="text-menu">¿Buscas un delicioso menú de comida rápida?</h5>
            <p class=" p-carrusel">Tenemos opciones increíbles para ti. Comienza con una jugosa hamburguesa hecha
                con carne de res 100% fresca, acompañada de queso cheddar derretido y crujientes tiras de tocino.
            </p>
            <p class=" p-carrusel">Si prefieres algo un poco más tradicional, prueba nuestro hotdog estilo
                americano, servido en un pan suave y esponjoso y cubierto con mostaza, ketchup y cebolla picada.
            </p>
            <p class=" p-carrusel">Y por supuesto, no puedes dejar de probar nuestras deliciosas papas fritas,
                cortadas a mano y preparadas en el momento para garantizar su sabor y textura perfecta.
            </p>
        </div>
        <article class="d-flex flex-column w-100">
            <!-- aca se implementa carousel de bootstrap manejamos autoplaying e indicators por default tiene 3 imagenes -->
            <div id="carouselExampleIndicators" class="carousel slide d-flex justify-content-center align-items-center background-carrusel-1"
                data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/imgs/menu1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hotdog</h5>
                            <p class="w-100 p-carrusel">Hotdog con aderesos, mas papas extras!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imgs/menu2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imgs/menu3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Combo Hamburguesa</h5>
                            <p class="w-100 p-carrusel">Doble de carne, mas queso extra y panceta!</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </article>

        <!-- aca viene articulo con titulo de bebidas -->
        <h2 class=" d-flex justify-content-center t-stroke h2-text" style="color: #ffbc00db;"
            data-aos="fade-down-right">
            Bebidas</h2>
        <div class="d-flex justify-content-center flex-column align-items-center text-info" data-aos="flip-left"
            data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <h5 class=" text-menu">¿Estás buscando una bebida rápida para refrescarte?</h5>
            <p class=" p-carrusel">tenemos opciones para todos los gustos. Comienza con una cerveza bien fría, perfecta
                para disfrutar con amigos en una tarde de verano. Tenemos una amplia variedad de marcas y estilos para
                elegir, desde cervezas ligeras y refrescantes hasta cervezas oscuras y con mucho cuerpo.</p>
            <p class=" p-carrusel">Si prefieres algo un poco más fuerte, prueba nuestro tequila, una bebida emblemática
                de México que se ha vuelto popular en todo el mundo. Servido solo o en un cóctel, el tequila es una
                opción refrescante y vigorizante que seguramente te animará.</p>
            <p class=" p-carrusel">Y si buscas algo un poco más saludable, ¿por qué no pruebas uno de nuestros jugos
                frutales? Hechos con frutas frescas y naturales, nuestros jugos son una opción deliciosa y nutritiva que
                te ayudará a mantenerte hidratado durante todo el día.</p>
        </div>

        <article class="d-flex flex-column w-100">
            <!-- aca se implementa carousel de bootstrap manejamos autoplaying e indicators por default tiene 3 imagenes -->
            <div id="carouselExampleIndicators2" class="carousel slide d-flex justify-content-center align-items-center background-carrusel-2"
                data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/imgs/bebidas-alco-(1).jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imgs/bebidas-alcoh-(2).jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imgs/juguito.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block texto-carrusel">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </article>

        <!-- aca viene articulo con titulo de postres -->
        <h2 class=" d-flex justify-content-center h2-text" style="color: #ffbc00db;" data-aos="fade-right"> Postres</h2>
        <div class="d-flex justify-content-center flex-column align-items-center text-info" data-aos="fade-down"
            data-aos-easing="linear" data-aos-duration="1500">
            <h5 class=" text-menu">¿Buscas algo dulce y delicioso para terminar tu comida?</h5>
            <p class=" p-carrusel">Tenemos opciones increíbles para ti. Comienza con nuestro flan de dulce de leche, una
                variante del clásico postre latinoamericano, hecho con leche condensada y caramelo. Es cremoso y dulce,
                perfecto para aquellos que buscan un postre reconfortante y tradicional.</p>
            <p class=" p-carrusel">Si prefieres algo más clásico, nuestros helados de cono son una opción refrescante y
                deliciosa. Disponibles en varios sabores, nuestros helados son el complemento perfecto para cualquier
                día caluroso de verano.</p>
            <p class=" p-carrusel">Y si eres un amante del chocolate, nuestro brownie con helado es justo lo que
                necesitas. Un brownie caliente y esponjoso, cubierto con una bola de helado cremoso y un toque de salsa
                de chocolate caliente. Es el postre perfecto para aquellos que buscan algo decadente y lleno de sabor.
            </p>
        </div>

        <article class="d-flex flex-column w-100">

            <!-- aca se implementa carousel de bootstrap manejamos autoplaying e indicators por default tiene 3 imagenes -->
            <div id="carouselExampleIndicators3" class="carousel slide d-flex justify-content-center align-items-center background-carrusel-3"
                data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/imgs/postre2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imgs/postre1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imgs/postre.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="w-100">Hamburguesa con papas</h5>
                            <p class="w-100 p-carrusel">Una hamburguesa grande con papas</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </article>

    </main>
    <footer class="d-flex align-items-center flex-wrap justify-content-around flex-column">
        <section>
            <div class="media-icon flex-wrap justify-content-center">
                <li class="media-li"><a href="https://www.facebook.com" target="_blank" class="media-a"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="media-li"><a href="https://twitter.com" target="_blank" class="media-a"><i
                            class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="media-li"><a href="https://www.instagram.com" target="_blank" class="media-a"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class="media-li"><a href="https://www.linkedin.com" target="_blank" class="media-a"><i
                            class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="media-li"><a href="https://web.whatsapp.com" target="_blank" class="media-a"><i
                            class="fa fa-whatsapp" aria-hidden="true"></i></a>
                </li>
            </div>
        </section>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
            Conocenos!
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Equipo de Desarrollo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <a href="https://github.com/dlopez1591/Delicatezza" target="_blank"><img
                                src="./assets/imgs/github.png" alt=""></a> | Cohort FS041 Full Stack JAVA </p>
                        <div class="d-flex ">
                            <a href="https://fdmarzialetti@gmail.com" target="_blank"><img src="./assets/imgs/gmail.png"
                                    alt=""></a> <a href="https://github.com/fdmarzialetti" target="_blank"><img
                                    src="./assets/imgs/github.png" alt=""></a> <a
                                href="https://www.linkedin.com/in/fernando-daniel-marzialetti-b46b73201/"
                                target="_blank"><img src="./assets/imgs/linkedin.png" alt=""></a>
                            <p>| Fernando Marzialetti</p>
                        </div>
                        <div class="d-flex ">
                            <a href="https://matiasloiza10@gmail.com"><img src="./assets/imgs/gmail.png" alt=""
                                    target="_blank"></a> <a href="https://github.com/matias9809" target="_blank"><img
                                    src="./assets/imgs/github.png" alt=""></a> <a
                                href="https://www.linkedin.com/in/matias-loiza-79a313178/" target="_blank"><img
                                    src="./assets/imgs/linkedin.png" alt=""></a>
                            <p>| Matias Loiza</p>
                        </div>
                        <div class="d-flex ">
                            <a href="https://joaquinfleitas71@gmail.com" target="_blank"><img
                                    src="./assets/imgs/gmail.png" alt=""></a> <a href="https://github.com/joaquinfleitas"
                                target="_blank"><img src="./assets/imgs/github.png" alt="" target="_blank"></a> <a
                                href="https://www.linkedin.com/in/joaquin-fleitas-7b0222174/" target="_blank"><img
                                    src="./assets/imgs/linkedin.png" alt=""></a>
                            <p>| Joaquin Alain Fleitas</p>
                        </div>
                        <div class="d-flex ">
                            <a href="dlopez1591@gmail.com" target="_blank"><img src="./assets/imgs/gmail.png" alt=""
                                    target="_blank"></a> <a href="https://github.com/dlopez1591" target="_blank"><img
                                    src="./assets/imgs/github.png" alt=""></a> <a
                                href="https://www.linkedin.com/in/daniel-lopezayala/" target="_blank"><img
                                    src="./assets/imgs/linkedin.png" alt=""></a>
                            <p>| Daniel Lopez</p>
                        </div>
                        <div class="d-flex ">
                            <a href="https://yasminledesma9@gmail.com" target="_blank"><img src="./assets/imgs/gmail.png"
                                    alt=""></a> <a href="https://github.com/YasminLedesma" target="_blank"><img
                                    src="./assets/imgs/github.png" alt=""></a> <a
                                href="https://www.linkedin.com/in/yasm%C3%ADn-ledesma-b3b5a7238/" target="_blank"><img
                                    src="./assets/imgs/linkedin.png" alt=""></a>
                            <p>| Yasmin Ledesma</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p d-flex gap-3" style="margin: 10px;">
            <p>| &#169 Todos los derechos reservados hacia el Team de Desarrollo 'Delicatezza'</p>
            <p>| Cohort FS041 Full Stack JAVA</p>
        </div>
    </footer>
    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- VUE  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- script index -->
    <script src="./assets/scripts/index.js"></script>
    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- AOS inicializacion  -->
    <script src="https://kit.fontawesome.com/4753464142.js" crossorigin="anonymous"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>