<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido a Delicatezza!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!-- icono google -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/styles/menu.css">

  <!-- favicon temporal para evitar error de server  -->
  <link rel="icon" type="image/x-icon" href="./assets/imgs/favicon.png">
</head>

<body> <!-- JOACO -->
  <div id="app" class="d-flex flex-column  w-100">
    <!-- Button trigger modal -->

    <button type="button" class="btn  btn-carrito " data-bs-toggle="modal"
    data-bs-target="#carrito">
    <span class="material-symbols-outlined">shopping_cart_checkout</span>
  </button>

    <header class="d-flex flex-row w-100 justify-content-center">
      <!-- imagen logo  -->
      <div class="logo_img bg-5">
        <p class="logo_img animated-shadow">DELICATEZZA</p>
      </div>
      <!-- redes sociales y boton log in -->
      <div class="logInRedesSociales">
      </div>
    </header>
    <!-- NAV BAR, POR EL MOMENTO DE PRUEBA pendiente por arreglar -->
    <div class="">
      <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                  <ul class="navbar-nav gap-3">
                      <li class="nav-item button" type="button">
                          <a class="nav-link " href="/index.html"><i class="bi bi-house"></i> Inicio</a>
                      </li>
                      <li class="nav-item button" type="button">
                          <a class="nav-link" href="#"><i class="bi bi-egg-fried"></i>Menu</a>
                      </li>
                      <li class="nav-item button" type="button">
                          <a class="nav-link" href="#"><i class="bi bi-check2-circle"></i> Reserva</a>
                      </li>
                      <button type="button" class="nav-item button " data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop">
                          <a class="nav-link"><i class="bi bi-person-fill"></i>Logout</a>
                      </button>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
    <!-- aca viene el multilenguaje, su implementacion sera de ultimas -->

    <main class="d-flex flex-column w-100 justify-content-center align-items-center">
      <!-- carrito -->
      

      
      <!-- Modal -->
      <div class="modal fade modal-carrito" id="carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog fondo-modal">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito de Compras</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
              <div class="modal-body">
                pum babe
                <ul>
                  <li class="item-carrito d-flex justify-content-between">
                    <div>blablabla</div>
                    <div>$ 3333</div>
                  </li>
                  <li class="item-carrito d-flex justify-content-between">
                    <div>blablabla</div>
                    <div>$ 3333</div>
                  </li>
                  <li class="item-carrito d-flex justify-content-between">
                    <div>blablabla</div>
                    <div>$ 3333</div>
                  </li>
                </ul>
              </div>
            
              <div class="total-carrito d-flex justify-content-end me-2 mb-3">
                El total de tu compra es: $ 33333
              </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-warning btn-comida" data-bs-dismiss="modal">Seguir comprando</button>
              <button type="button" class="btn btn-outline-warning btn-comida">Abonar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- cantidad comida modal -->
      <!-- Modal -->
      <div class="modal fade" id="agregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Que cantidad deseas?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label class="cantidadDeComida">
                <input v-model="cantidadSolicitada" id="numero" type="number" min="1" pattern="^[0-9]+"
                  placeholder=" Cantidad que desea">
              </label>
              <div>
                resumen: <p v-if="comidaEnMesa!='undefined'">descripcion, nombre y cantidad</p>
              </div>
              {{comidaEnMesa}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-outline-warning"
                @click="añadirAlCarrito(comidaEnMesa.id,cantidadSolicitada)">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

<!-- navbar -->

      <!-- Navbar content -->
      <div class=" navbarcito d-flex">
            <li class="list-style" type="button">
              <a class="linksitos" href="#principal">
                Principal</a>
            </li>
            <li class="list-style" type="button">
              <a class="linksitos" href="#guarnicion">
                Guarnicion</a>
            </li>
            <li class="list-style" type="button">
              <a class="linksitos" href="#postres">
                Postres</a>
            </li>
            <li class="list-style" type="button">
              <a class="linksitos" href="#bebidas">
                Bebidas</a>
            </li>
      </div>


      <!-- principal -->
      <article id="principal" class="seccionComida d-flex justify-content-center flex-column align-items-center">
        <h2 class=" d-flex justify-content-center t-stroke" style="color: #ffbc00db;" data-aos="fade-down-right"> Platos
          fuertes</h2>
        <div class="card mb-3"  v-for="comida of principal" >
          <div class="row g-0">
            <div class="col-md-4">
              <img :src="comida.imagen" class="img-comida img-fluid rounded-start" :alt="comida.nombre">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{comida.nombre}}</h5>
                <p class="card-text">{{comida.description}}</p>
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="precio">Precio ${{comida.precio}}</h6>
                  </div>
                  <div><button type="button" class="btn btn-outline-warning btn-comida" data-bs-toggle="modal"
                    data-bs-target="#agregar" v-on:click="alertAgregar(comida)">Agregar</button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

      <!-- guarniciones -->
      <article id="guarniciones" class="seccionComida d-flex justify-content-center flex-column align-items-center">
        <h2 class=" d-flex justify-content-center t-stroke" style="color: #ffbc00db;" data-aos="fade-down-right"> 
        Guarnicion</h2>
        <div class="card mb-3" v-for="comida of guarnicion">
          <div class="row g-0">
            <div class="col-md-4">
              <img :src="comida.imagen" class="img-comida img-fluid rounded-start" :alt="comida.nombre">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{comida.nombre}}</h5>
                <p class="card-text">{{comida.description}}</p>
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="precio">Precio ${{comida.precio}}</h6>
                  </div>
                  <div><button type="button" class="btn btn-outline-warning btn-comida" data-bs-toggle="modal"
                    data-bs-target="#agregar" v-on:click="alertAgregar(comida)">Agregar</button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

      <!-- bebidas -->
      <article id="bebidas" class="seccionComida d-flex justify-content-center flex-column align-items-center">
        <h2 class=" d-flex justify-content-center t-stroke" style="color: #ffbc00db;" data-aos="fade-down-right">
          Bebidas</h2>
        <div class="card mb-3"  data-aos="flip-up" v-for="bebida of bebidas">
          <div class="row g-0">
            <div class="col-md-4">
              <img :src="bebida.imagen" class="img-comida img-fluid rounded-start" :alt="bebida.nombre">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{bebida.nombre}}</h5>
                <p class="card-text">{{bebida.descripcion}}</p>
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="precio">Precio $ {{bebida.precio}}</h6>
                  </div>
                  <div><button type="button" class="btn btn-outline-warning btn-comida" data-bs-toggle="modal"
                    data-bs-target="#agregar" v-on:click="alertAgregar(bebida)">Agregar</button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

      <!-- postres -->
      <article id="postres" class="seccionComida d-flex justify-content-center flex-column align-items-center">
        <h2 class=" d-flex justify-content-center t-stroke" style="color: #ffbc00db;" data-aos="fade-down-right">
          Postres</h2>
        <div class="card mb-3"  data-aos="flip-up" v-for="comida of postre">
          <div class="row g-0">
            <div class="col-md-4">
              <img :src="comida.imagen" class="img-comida img-fluid rounded-start" :alt="comida.nombre">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{comida.nombre}}</h5>
                <p class="card-text">{{comida.description}}</p>
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="precio">Precio $ {{comida.precio}}</h6>
                  </div>
                  <div><button type="button" class="btn btn-outline-warning btn-comida" data-bs-toggle="modal"
                    data-bs-target="#agregar" v-on:click="alertAgregar(comida)">Agregar</button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

    </main>

    <footer class="d-flex align-items-center flex-wrap justify-content-around flex-column">
      <section>
        <ul class="media-icon flex-wrap">
          <li class="media-li"><a href="#" class="media-a"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="media-li"><a href="#" class="media-a"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li class="media-li"><a href="#" class="media-a"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li class="media-li"><a href="#" class="media-a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li class="media-li"><a href="#" class="media-a"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </li>
        </ul>
      </section>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
        Conocenos!
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Equipo de Desarrollo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <a href="https://github.com/dlopez1591/Delicatezza" target="_blank"><img src="/assets/imgs/github.png" alt=""></a><p> | Cohort FS041 Full Stack JAVA </p>
              <a href="https://fdmarzialetti@gmail.com" target="_blank"><img src="/assets/imgs/gmail.png" alt=""></a>  <a href="https://github.com/fdmarzialetti" target="_blank"><img src="/assets/imgs/github.png" alt=""></a> <a href="https://www.linkedin.com/in/fernando-daniel-marzialetti-b46b73201/" target="_blank"><img src="/assets/imgs/linkedin.png" alt=""></a> <p>| Fernando Marzialetti</p>
              <a href="https://matiasloiza10@gmail.com"><img src="/assets/imgs/gmail.png" alt="" target="_blank"></a>  <a href="https://github.com/matias9809" target="_blank"><img src="/assets/imgs/github.png" alt=""></a> <a href="https://www.linkedin.com/in/matias-loiza-79a313178/" target="_blank"><img src="/assets/imgs/linkedin.png" alt=""></a> <p>| Matias Loiza</p>
              <a href="https://joaquinfleitas71@gmail.com" target="_blank"><img src="/assets/imgs/gmail.png" alt=""></a>  <a href="https://github.com/joaquinfleitas" target="_blank"><img src="/assets/imgs/github.png" alt="" target="_blank"></a> <a href="https://www.linkedin.com/in/joaquin-fleitas-7b0222174/" target="_blank"><img src="/assets/imgs/linkedin.png" alt=""></a> <p>| Joaquin Alain Fleitas</p>
              <a href="dlopez1591@gmail.com" target="_blank"><img src="/assets/imgs/gmail.png" alt="" target="_blank"></a>  <a href="https://github.com/dlopez1591" target="_blank"><img src="/assets/imgs/github.png" alt=""></a> <a href="https://www.linkedin.com/in/daniel-lopezayala/" target="_blank"><img src="/assets/imgs/linkedin.png" alt=""></a> <p>| Daniel Lopez</p>
              <a href="https://yasminledesma9@gmail.com" target="_blank"><img src="/assets/imgs/gmail.png" alt=""></a>  <a href="https://github.com/YasminLedesma" target="_blank"><img src="/assets/imgs/github.png" alt=""></a> <a href="https://www.linkedin.com/in/yasm%C3%ADn-ledesma-b3b5a7238/" target="_blank"><img src="/assets/imgs/linkedin.png" alt=""></a> <p>| Yasmin Ledesma</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="p d-flex gap-3" style="margin: 10px;">
        <p>| &#169 Todos los derechos reservados hacia el Team de Desarrollo 'Delicatezza'</p>
        <p>| Cohort FS041 Full Stack JAVA</p>
      </div>
    </footer>
  </div>
  
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- VUE  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- script index -->
  <script src="./assets/scripts/menu.js"></script>
  <!-- sweet alert  -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- AOS inicializacion  -->
  <script src="https://kit.fontawesome.com/4753464142.js" crossorigin="anonymous"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>