* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 90vw;
    min-height: 90vh;
    background-image: url(../imgs/3d-render-focos-pared-ladrillo-grunge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Arizonia', cursive;
    cursor: url(../imgs/hot-dog-icon\ \(2\).png), auto;
}
button:hover{
    cursor: url(../imgs/hot-dog-icon\ \(2\).png), auto;
}
a:hover{
    cursor: url(../imgs/hot-dog-icon\ \(2\).png), auto;
}
footer:hover{
    cursor: url(../imgs/hot-dog-icon\ \(2\).png), auto;
}
/* .url{cursor:url(../assets/imgs/hot-dog-icon.png), auto;} */

/* .logo {
    width: 8rem;
    font-size: 25px;
    text-shadow: 2px 4px 4px var(--bs-orange);
    
} */

/* "LOGOXD" */
.img {
    width: 20rem;
}

.animated-shadow {
    /* color: #ffffff; */
    font-size: 90px;
    font-family: 'Allerta Stencil', sans-serif;

    height: 140px;
    left: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 2800ms infinite;
    z-index: 2
}

/*Animación para rotar las sombras*/
@keyframes move {
    0% {
        text-shadow:
            4px -4px 0 #da0641,
            3px -3px 0 #da0641,
            2px -2px 0 #da0641,
            1px -1px 0 #da0641,
            -4px 4px 0 var(--bs-orange),
            -3px 3px 0 var(--bs-orange),
            -2px 2px 0 var(--bs-orange),
            -1px 1px 0 var(--bs-orange);
    }
    25% {
        text-shadow:
            -4px -4px 0 var(--bs-orange),
            -3px -3px 0 var(--bs-orange),
            -2px -2px 0 var(--bs-orange),
            -1px -1px 0 var(--bs-orange),
            4px 4px 0 #da0641,
            3px 3px 0 #da0641,
            2px 2px 0 #da0641,
            1px 1px 0 #da0641;
    }
    50% {
        text-shadow:
            -4px 4px 0 #da0641,
            -3px 3px 0 #da0641,
            -2px 2px 0 #F5C800,
            -1px 1px 0 #F5C800,
            4px -4px 0 var(--bs-orange),
            3px -3px 0 var(--bs-orange),
            2px -2px 0 var(--bs-orange),
            1px -1px 0 var(--bs-orange);
    }
    75% {
        text-shadow:
            4px 4px 0 var(--bs-orange),
            3px 3px 0 var(--bs-orange),
            2px 2px 0 var(--bs-orange),
            1px 1px 0 var(--bs-orange),
            -4px -4px 0 #F5C800,
            -3px -3px 0 #F5C800,
            -2px -2px 0 #F5C800,
            -1px -1px 0 #F5C800;
    }
    100% {
        text-shadow:
            4px -4px 0 #F5C800,
            3px -3px 0 #F5C800,
            2px -2px 0 #F5C800,
            1px -1px 0 #F5C800,
            -4px 4px 0 var(--bs-orange),
            -3px 3px 0 var(--bs-orange),
            -2px 2px 0 var(--bs-orange),
            -1px 1px 0 var(--bs-orange);
    }
}

/* "LOGOXD" */

/* CARRUSEL */
.carousel-inner {
    width: 1200px;
    box-shadow: 13px 13px 25px black;
    border: 1px white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7px 7px 7px 7px;
}


/* CARRUSEL */

/* H2 Y P DEL CARRUSEL */
h2 {
    display: inline-block;
    position: relative;
    align-items: center;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, var(--bs-orange), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 70px;
    font-family: 'Arizonia', cursive;
    -webkit-animation: reveal 500ms ease-in-out forwards 100ms, glow 1500ms linear infinite 1500ms;
    animation: reveal 1000ms ease-in-out forwards 150ms, glow 1500ms linear infinite 1500ms;
}

@-webkit-keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@-webkit-keyframes glow {
    40% {
        text-shadow: 0 0 8px var(--bs-orange);
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px var(--bs-orange);
    }
}

h2::after,
h2::before {
    content: '';
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #F5C800;
    box-shadow: 1px 2px 5px var(--bs-orange);
    align-items: center;
    top: 0.1em;
    
}

h2::before {
    left: -20px;
    display: inline-block;
}

h2::after {
    right: -15px;
    display: inline-block;
}


h5 {
    font-size: 1.6rem;
    color: #F5C800;
    text-shadow: 2px 4px 4px var(--bs-orange);
    font-family: 'Allerta Stencil', sans-serif;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, var(--bs-orange), transparent, transparent);
    -webkit-background-clip: text;
    -webkit-animation: reveal 1000ms ease-in-out forwards 100ms, glow 1500ms linear infinite 1500ms;
    animation: reveal 1000ms ease-in-out forwards 150ms, glow 1500ms linear infinite 1500ms;
}

.p-carrusel {
    font-size: 1.2rem;
    color: var(--bs-orange);
    text-shadow: 2px 1px 6px #F5C800;
    font-family: 'Allerta Stencil', sans-serif;
}

.p {
    flex-wrap: wrap;
}

.carousel{
    margin-bottom: 15px;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.728) !important;
    border-bottom: 1px solid rgba(255, 0, 0, 0.500);
    border-left: 1px solid rgba(255, 0, 0, 0.500);
    border-right: 1px solid rgba(255, 0, 0, 0.500);
    box-shadow: rgb(233 12 12 / 30%) -1px -4px 43px;
}

/* H2 Y P DEL CARRUSEL */

/* FOOTER */

.media-icon {
    position: relative;
    display: flex;
    z-index: 2;
}

.media-icon .media-li {
    position: relative;
    list-style: none;
    margin: 10px;
}

.media-icon .media-li .media-a {
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}

.media-icon .media-li .media-a:hover {
    transform: translateY(-7px);
}

.media-icon .media-li .media-a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.media-icon .media-li .media-a:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

footer {
    min-height: 15vh;
    background-color: #000000a6;
    text-shadow: 1px 1px 2px var(--bs-orange);
    color: white;
    padding-right: 1rem;
    margin-top: 10px;
    box-shadow: rgb(233 12 12 / 30%) 0px 4px 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.imgs {
    width: 20rem;
    margin: 10px;
}

.imgs i:hover {
    font-size: 2.5rem !important;
    transition: all 0.3s;
}

.modal {
    text-shadow: none;
    color: white;
}

.modal-content {
    background-color: #0000003b;
}

.p {
    position: relative;
    color: white;
    background: -webkit-linear-gradient(#F5C800, var(--bs-orange));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    justify-content: center;
    text-align: center;
}

.p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--bs-orange);
    transform: scaleX(0);
    transform-origin: right left;
    transition: transform 0.6s ease-in;
}

.p:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

/* FINAL FOOTER */

/* card Comida */

.seccionComida{
    padding: 1rem;
}

.cardComida{
    background-color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #000000;
    box-shadow: rgba(233, 12, 12, 0.404) 0px 4px 29px;
    border: #da0641;
}
.card-title{
    color: rgb(245, 200, 0);
}
.card p{
    color: rgb(196, 196, 197);
    text-shadow: 1px 1px 2px black;
    font-size: 1.1rem;
}
.precio{
    color: #F5C800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic ;
    text-shadow: 2px 3px 3px var(--bs-orange);
    font-family: 'Allerta Stencil', sans-serif;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, var(--bs-orange), transparent, transparent);
    -webkit-background-clip: text;
    -webkit-animation: reveal 1000ms ease-in-out forwards 100ms, glow 1500ms linear infinite 1500ms;
    animation: reveal 1000ms ease-in-out forwards 150ms, glow 1500ms linear infinite 1500ms;
}
.btn-comida{
    color: #F5C800;
    text-shadow: 2px 3px 3px var(--bs-orange);
    font-family: 'Allerta Stencil', sans-serif;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, var(--bs-orange), transparent, transparent);
    -webkit-background-clip: text;
    -webkit-animation: reveal 1000ms ease-in-out forwards 100ms, glow 1500ms linear infinite 1500ms;
    animation: reveal 1000ms ease-in-out forwards 150ms, glow 1500ms linear infinite 1500ms;
    box-shadow: rgb(233 12 12 / 30%) -1px -4px 43px;
}


.img-comida{
    height: 100%;
   
}

/* banner */
.videito{
     max-width:100%;
}

/* navbar */
.nav-link{
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 15px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.728) !important; */
    border: 1px solid rgba(255, 0, 0, 0.500);
    box-shadow: rgb(233 12 12 / 30%) -1px -4px 43px;
    color: var(--bs-orange);
    text-shadow: 2px 4px 4px  #F5C800;
    font-family: 'Allerta Stencil', sans-serif;
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #F5C800, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-animation: reveal 1000ms ease-in-out forwards 100ms, glow 1500ms linear infinite 1500ms;
    animation: reveal 1000ms ease-in-out forwards 150ms, glow 1500ms linear infinite 1500ms;
}
.navbar-toggler{
    background-color: #800000a6 !important;
}

/* nav filtros */
.linksitos{
    padding: 1rem;
    color: #F5C800;
    font-family: 'Arizonia', cursive;
    font-size: 1.5rem;
/*     font-family: Georgia, 'Times New Roman', Times, serif; */
    border: none;
    box-shadow: none;
}
.linksitos:hover{
    transition: all 1s ease;
    padding: 1rem;
    color: #da0641;
    text-shadow: rgba(248, 38, 38, 0.959) -1px -4px 42px;
}
.material-symbols-outlined{
    font-size: 19px;
}
.buscador{
    font-size: 1rem;
    box-shadow: rgb(233 12 12 / 30%) -1px -4px 43px;
    background-color: transparent;
    border-color: #F5C800;
    color: #F5C800;
}
.form-control{
    background-color: transparent !important;
    box-shadow:-1px -4px 43px rgba(253, 13, 53, 0.295);
}
.form-control:focus {
    border-color: #fe8686;
    outline: 0;
    box-shadow:-1px -4px 43px rgba(253, 13, 53, 0.466);
    
}
::placeholder {
    color: #F5C800 !important;
    font-family:  'Arizonia', cursive !important;

  }
.mini-bar{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

/* BUTTON */
.button {
    position: relative;
    padding: 0;
    width: 115px;
    /* height: 65px; */
    background: transparent;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    /* box-shadow: inset 0 0 10px #ffffff1c; */
}

.p1 {
    font-family: 'Allerta Stencil', sans-serif;
    text-decoration: none;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 65px;
    /* background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%); */
    /* background-size: 200%; */
    background-repeat: no-repeat;
    filter: opacity(.3) blur(.3em);
}
.button::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    height: 100%;
    width: 100%;
    background-color: white;
    filter: blur(2.5em);
    opacity: 0;
    pointer-events: none;
}
.button .p1 {
    display: inline-block;
    /* width: 135px;
    line-height: 65px; */
    font-size: 17px;
    font-weight: 900;
    color: white;
    filter: blur(.02em);
    z-index: 5;
}
.fil0 {
    fill: #935E28
}

.button:hover {
    filter: blur(.05em);
    animation: lightBox 1s ease-in-out forwards;
}

.button:hover::after {
    animation: light 1s ease-in-out forwards;
}

.button:hover p {
    animation: lightText 1s ease-in-out forwards;
}

@keyframes lightBox {
    0% {
        border: 1px solid rgba(255, 0, 0, 0.500);
        box-shadow: 0 0 5px 0px rgba(255, 0, 0, 0.500), inset 0 0 10px rgba(255, 0, 0, 0.500);
    }
    20% {
        border: 1px solid #ffffff1c;
        box-shadow: none;
    }
    30% {
        border: 1px solid rgba(255, 0, 0, 0.500);
        box-shadow: 0 0 10px 0px rgba(255, 0, 0, 0.600), inset 0 0 15px rgba(255, 0, 0, 0.600);
    }
    38% {
        border: 1px solid #ffffff1c;
        box-shadow: none;
    }
    45% {
        border: 1px solid rgba(255, 0, 0, 0.500);
        box-shadow: 0 0 15px 0px rgba(255, 0, 0, 0.650), inset 0 0 20px rgba(255, 0, 0, 0.650);
    }
    50% {
        border: 1px solid #ffffff1c;
        box-shadow: none;
    }
    53% {
        border: 1px solid rgba(255, 0, 0, 0.500);
        box-shadow: 0 0 15px 0px rgba(255, 0, 0, 0.700), inset 0 0 25px rgba(255, 0, 0, 0.700);
    }
    65% {
        border: 1px solid #ffffff1c;
        box-shadow: none;
    }
    100% {
        border: 1px solid rgba(255, 255, 255, 0.87);
        box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.87), inset 0 0 25px rgba(255, 255, 255, 0.87);
    }
}

@keyframes light {
    0% {
        opacity: .7;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: .7;
    }
    38% {
        opacity: 0;
    }
    45% {
        opacity: .7;
    }
    50% {
        opacity: 0;
    }
    53% {
        opacity: .7;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}

@keyframes lightText {
    0% {
        color: #fbfd7b;
        text-shadow: 0 0 5px #fbfd7b8a;
    }

    20% {
        color: #ffffff;
        text-shadow: none;
    }

    30% {
        color: #fbfd7b;
        text-shadow: 0 0 10px #fbfd7b8a;
    }

    38% {
        color: #ffffff;
        text-shadow: none;
    }

    45% {
        color: #fbfd7b;
        text-shadow: 0 0 15px #fbfd7b8a;
    }

    50% {
        color: #ffffff;
        text-shadow: none;
    }

    53% {
        color: #fbfd7b;
        text-shadow: 0 0 15px #fbfd7b8a;
    }

    65% {
        color: #ffffff;
        text-shadow: none;
    }

    100% {
        color: #fbfd7b;
        text-shadow: 0 0 15px #fbfd7b8a;
    }
}
/* FINAL FOOTER */


/* CARRITO */
.btn-carrito{
    z-index: 999;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    margin-right: 1.5rem;
    border-color: #F5C800;
    box-shadow:-1px -4px 43px rgba(253, 13, 53, 0.466);
    background-color: #0000008c;
}
.btn-carrito:hover{
    border-color: #fcda42;
    box-shadow:-1px -4px 43px rgba(255, 243, 78, 0.514);
    text-shadow: rgba(248, 38, 38, 0.959) -1px -4px 42px;
}
.btn-carrito .material-symbols-outlined{
    font-size: 23px;
    color: #F5C800;
}
.btn-carrito .material-symbols-outlined:hover{
    text-shadow: -1px -4px 43px rgba(255, 243, 78, 0.514);
}
.modal-carrito .modal-body, .total-carrito{
    font-size: 1.5rem;
    font-family: 'Arizonia';
}
.fondo-modal {
    background-color: #8b0000f5 !important;
    border-radius: 0.5rem !important;
}

@media (max-width: 650px) {
    body {
        background-image: url(/assets/imgs/fondo-pared-ladrillo-grunge.jpg);
    }

    h2 {
        font-size: 40px;
    }

    h2::after,
    h2::before {
        content: '';
        position: relative;
        width: 60px;
        height: 2px;
        background-color: #ffbc00db;
        align-items: center;
        top: 0.1em;
    }

    .logo_img {
        font-size: 35px;
        font-family: 'Allerta Stencil', sans-serif;
        text-shadow: -4px 4px 17px var(--bs-orange);
        letter-spacing: 10px;
        margin-top: 10px;
    }

    footer {
        font-size: 15px;
    }

    .buscador{
        display: none;
    }
    .mini-bar{
        width: 95%;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 34px;
    }
}

